.container {
    height: 98%;
    display: flex;
    justify-content: 'space-between';
    height: '400px';
    flex-direction: column;
    align-items: center;
    float: left;
    padding: 2px;
    border-radius: 14px;
    background-color: rgba(47, 79, 79, 0.6);
    scroll-behavior: smooth;
}

.letter {
    text-decoration: 'none';
    color: 'inherit'
}

.char {
  /* border: 1px solid blue; */
  text-align: center;
  width: 100%;
  height: calc(100%/26);
  cursor: pointer;
  color: white;
  font-size: 11px;
}

.clear {
  clear: both;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 30px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 16px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  /* margin-left: -60px; */
  /* bottom: 125%;
  left: 50%; */
  top: -5px;
  /* left: 115%; */
  left: -55px;
  margin-left: 10px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}